#homePage {
   background: ghostwhite;
   background-attachment: fixed;
   background-size: cover;
   height: auto
}

#favPage{
   background: ghostwhite;
   background-attachment: fixed;
   background-size: cover;
   height: auto
}

h2{
   color: red;
   margin-left: 27em;
   margin-right: 27em
}

div#cardCont {
   margin: 10px;
}

img.ui.image {
   height: 14em;
}

#banner {
   margin: 3em;
   height: 17em;
   width: 95%;
   margin-top: 5px;
   margin-bottom: 1em
}

div#cardsContainer {
   height: auto;
   margin: 7px;
}

/* .text{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

#heartIcon:hover .text{
   visibility: visible;
} */

